In [1]:
import sqlite3
import pandas as pd

In [2]:
# connect and return pandas dataframe
conn = sqlite3.connect("../data/pub_raw.db")

journals = pd.read_sql_query("select * from journal;", conn)
authors = pd.read_sql_query("select * from author;", conn)
papers = pd.read_sql_query("select * from paper;", conn)

In [3]:
journals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 439 non-null    int64
 1   journal_title      439 non-null    object
 2   volumn             439 non-null    object
 3   issue              439 non-null    object
 4   year               439 non-null    object
 5   issn               0 non-null      object
 6   doi                0 non-null      object
 7   total_paper_count  439 non-null    int64
 8   crawl_count        439 non-null    int64
 9   finished           439 non-null    object
dtypes: int64(3), object(7)
memory usage: 34.4+ KB

In [4]:
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6366 entries, 0 to 6365
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           6366 non-null   int64
 1   full_name    6366 non-null   object
 2   first_name   6366 non-null   object
 3   last_name    6366 non-null   object
 4   middle_name  2547 non-null   object
 5   email        6366 non-null   object
 6   affiliation  6366 non-null   object
dtypes: int64(1), object(6)
memory usage: 348.3+ KB

In [5]:
papers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4526 entries, 0 to 4525
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                4526 non-null   int64
 1   title             4526 non-null   object
 2   abstract          4526 non-null   object
 3   publication_date  0 non-null      object
 4   submission_date   0 non-null      object
 5   online_date       0 non-null      object
 6   revision_date     0 non-null      object
 7   accepted_date     0 non-null      object
 8   cover_url         0 non-null      object
 9   full_url          0 non-null      object
 10  accession_number  4526 non-null   object
 11  document_type     4526 non-null   object
 12  doi               4526 non-null   object
 13  manually_check    158 non-null    object
 14  journal_id        4526 non-null   int64
dtypes: int64(2), object(13)
memory usage: 530.5+ KB

In [6]:
journals.head()

,id,journal_title,volumn,issue,year,issn,doi,total_paper_count,crawl_count,finished
0,1,MIS Quarterly,44,1,2020,None,None,17,17,yes
1,2,MIS Quarterly,43,4,2019,None,None,16,16,yes
2,3,MIS Quarterly,43,3,2019,None,None,15,15,yes
3,4,MIS Quarterly,43,2,2019,None,None,15,15,yes
4,5,MIS Quarterly,43,1,2019,None,None,16,16,yes

In [7]:
papers.head()

,id,title,abstract,publication_date,submission_date,online_date,revision_date,accepted_date,cover_url,full_url,accession_number,document_type,doi,manually_check,journal_id
0,1,complexity and information systems research in...,Complexity is all around us in this increasing...,None,None,None,None,None,None,None,141995164,Article,10.25300/MISQ/2020/13304,None,1
1,2,the dynamics of drift in digitized processes.,This paper uses a simulation to build new theo...,None,None,None,None,None,None,None,141995165,Article,10.25300/MISQ/2020/14458,None,1
2,3,taming complexity in search matching: two-side...,We study digital multisided platforms as compl...,None,None,None,None,None,None,None,141995166,Article,10.25300/MISQ/2020/14424,None,1
3,4,organized complexity of digital business strat...,How should firms configure organizational capa...,None,None,None,None,None,None,None,141995167,Article,10.25300/MISQ/2020/14477,None,1
4,5,digitization and phase transitions in platform...,This paper draws on complex adaptive systems (...,None,None,None,None,None,None,None,141995168,Article,10.25300/MISQ/2020/14520,None,1

In [8]:
authors.head()

,id,full_name,first_name,last_name,middle_name,email,affiliation
0,1,"Benbya, Hind",Hind,Benbya,None,h.benbya@montpellier-bs.com,"Technology and Innovation Management, Montpell..."
1,2,Ning Nan,Ning,Nan,None,ning.nan@sauder.ubc.ca,"Sauder School of Business, University of Briti..."
2,3,"Tanriverdi, Hüseyin",Hüseyin,Tanriverdi,None,Huseyin.Tanriverdi@mccombs.utexas.edu,"McCombs School of Business, The University of ..."
3,4,Youngjin Yoo,Youngjin,Yoo,None,yxy23@case.edu,"Department of Design & Innovation, The Weather..."
4,5,"Pentland, Brian T.",Brian,Pentland,T.,pentlan2@msu.edu,"Eli Broad College of Business, Michigan State ..."